@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* html element styling */
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

/* header styling */
.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-content h1 {
  font-size: 8rem;
  margin-bottom: 5rem;
  color: rgb(57, 57, 160);
}

.profile-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
}

.profile-links a:hover {
  color: rgb(57, 57, 160);
}

/* media queries */
@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 40%;
  }

  .header-content h1 {
    text-align: center;
  }
}
